<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack.Common" version="4.0.22" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.22" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="4.0.22" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.22" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.297" targetFramework="net45" />
</packages>