<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="1.0.0-rc1" targetFramework="net45" />
  <package id="FSharp.Core.Microsoft.Signed" version="0.0.1-beta1" targetFramework="net45" />
  <package id="FsPickler" version="0.9.6" targetFramework="net45" />
  <package id="FsPickler.Json" version="0.9.6" targetFramework="net45" />
  <package id="NEST" version="1.0.0-rc1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.22" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.22" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="4.0.22" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.22" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.297" targetFramework="net45" />
</packages>